{% extends "base.html" %}

{% block title %}{{title}}{% endblock %} 

{% block content %} 

<div>
  <p>Количество контрактов в работе: <span class="border border-primary">{{ contracts }}</span></p>
  
</div>
<br>
<div>
  {%if managers %} 
  <table class="table table-striped table-hover text-center">
    <thead>
      <tr class="table-secondary">
        <th style="width: 34%">Сотрудник</th>
        <th style="width: 22%">Процедур в работе</th>
      </tr>
    </thead>
    <tbody>
      {% for el in managers %}
        <tr>
          <th scope="row" class="text-start">{{ el }}</th>
          <td>
            {{ el.userprocedure_set.all|length  }}
          </td>
        </tr>
      {% endfor %} 
  {% else %}
    <h3>Нужно нанять работников!</h3>
  {% endif %}
    </tbody>
  </table>
</div>

{% endblock %}
