{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %} 

{% block content %}

<div class="row">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 bg-white p-4 mb-4 mx-3 rounded custom-shadow">
                <h2 class="text-center mb-4">{{ title }}</h2>
                <form action="{% url 'user_procedures_app:add_new_procedure' %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <ul class="list-group list-group-flush">
                            {% for field in form %}
                            <li class="list-group-item">
                                <h4>{{ field.label }}</h4>
                                {{ field }}
                                {% if field.errors %}
                                    {{ field.errors }}
                                {% endif %} 
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-success btn-block">Добавить закупку</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
